body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header {
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
	min-height: 67px;
	margin-bottom: 0;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

a.main-header-logo:hover {
	opacity: 0.8;
} 

a.main-header-logo:focus {
	opacity: 0.3;
}

.site-navigation {
	width: 520px;
	list-style: none;
	margin-right: 0;
	padding: 0;
}

.cart {
	width: 115px;
}

.site-navigation a,
.cart a {
	color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.cart a:focus {
	color: #a6a6a6;
} 

.site-navigation a:active,
.cart a:active {
	border-bottom: 2px solid #fb565a;
}

.visually-hidden {
	margin: 0;
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
}

.features {
	background-color: #eeeeee;
}

/*.feature-item {
	display: flex;
}*/

.feature-item-slogan {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slider-switches {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	font: inherit;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	vertical-align: middle;
	border: none;
}

a.button {
	background-color: #fb565a;
}

a.button:hover {
	background-color: #e74246;
}

a.button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.services-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 125px;
}

.services-item {
	min-height: 347px;
	width: 360px;
	margin-right: 40px;
}

.services-item h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.services-item:nth-child(2) a {
	background-color: #00ca74;
}

.services-item:nth-child(2):hover a{
	background-color: #00bc6c; 
} 

.services-item:nth-child(2):focus a {
	background-color: #00aa62;
}

.services-item:last-child a {
	background-color: #efc84a;
}

.services-item:last-child:hover a{
	background-color: #eab534; 
} 

.services-item:last-child:focus a {
	background-color: #e5a722;
}

.about-us-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 125px;
}

.about-us-info {
	width: 700px;
}

.statistic {
	width: 400px; 
}

.about-us-info h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
	margin: 0;
}

.about-us-services,
.statistic-title {
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}

.about-us-services-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.statistic-value {
	font-size: 45px;
	font-weight: bold;
	color: #000000; 
}
.sup {
	font-size: 28px;
	vertical-align: super;
	line-height: 10px;
}

.statistic-item {
	line-height: 18px;
}

.project-list {
	list-style: none;
	margin-bottom: 125px;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.project-item a {
	opacity: 0.2;
}

.project-item a:hover {
	opacity: 1;
	outline: none;
}

.project-item a:focus {
	opacity: 0.1;
	outline: none;
}

.site-navigation-current {
	border-bottom: 2px solid #fb565a;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  line-height: 20px;
}

.filter-button {
	color: #000000;
	line-height: 18px;
	background-color: #eeeeee;
	text-transform: uppercase;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:focus {
	color: rgba(0,0,0,0.3);
}

.catalog-sort {
	color: #000000;
	font-size: 18px;
 	font-weight: bold;
  	line-height: 18px;
  	text-transform: uppercase;
}

.catalog-sort ul {
	list-style: none;
}

.sort-option-button,
.sort-option-button-current, 
.low,
.up {
	font-family: "Roboto", sans-serif;
	color: #000000;
	opacity: 0.3;
	font-size: 14px;
	text-transform: uppercase;
	border:none;
	background-color: #ffffff;
}

.sort-option-button:hover,
.low:hover,
.up:hover {
	opacity: 0.6;
}

.sort-option-button:focus,
.sort-option-button:active,
.low:focus,
.low:active,
.up:focus,
.up:active {
	opacity:1;
}

.sort-option-button-current {
	opacity:1;
}

.sort-option-button-current:hover,
.sort-option-button-current:focus,
.sort-option-button-current:active {
	opacity:1;
}


.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.catalog-item-desc {
	line-height: 18px;
}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	opacity: 0.3;
}

.pagination-item a:active {
	background-color: #ffffff;
	border: 3px solid #dfdfdf;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dfdfdf;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	background-color: #ffffff;
	border: 3px solid #dfdfdf;
}

.map {
	width: auto;
}

.contacts {
	background-color: #ffffff;
}

.contacts h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.feedback-form {
	width: 960px;
	height: 590px;
	background-color: #ffffff;
	/* box-shadow: opacity 75% distance 20px size 40px*/ 
}

.modal-feedback h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.feedback-form label {
	line-height: 18px;
	font-weight: bold;
}

.feedback-form input {
	font: inherit;
	color: rgba(68,68,68 0.5);
	border: 2px solid #d7dcde;
	background-color: transparent;
	outline: none;
}

.feedback-form input:hover {
	border: 2px solid #b4b9bb;
}

.feedback-form input:focus {
	color: #000000;
	border: 2px solid #000000;
}

.social-subscribe {
	display: flex;
	min-height: 175px;
}

.footer-social ul {
	list-style: none;
	width: 260px;
	margin-right: 140px;
	padding: 0;
}

.social-button {
	color: #ffffff;
	background-color: #e1e1e1;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:focus {
	background-color: #d7373b;
	color: rgba(255,255,255, 0.3); 
}

.footer-subscribe {
	width: 560px;
}

.footer-subscribe-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.footer-subscribe-discount {
	line-height: 22px;
}